# Set the log level for all loggers
# If you have any issues check the original rosconsole.config file which is located in /opt/ros/noetic/share/ros/config/
# There is also supposed to be the values: INFO, WARN, DEBUG, ERROR and FATAL but each have shown the complete output and same behavior on the log file and output screen
# The behavior is always shown for the setting of the output parameter (either=screen or =log) in the launchfiles for each node.
# commented out            # output=screen = (all except ROS_DEBUG)                     -   ROS_INFO , ROS_WARN,            ROS_ERROR, ROS_FATAL        # output=log - only INFO
# log4j.logger.ros=DEBUG   # output=screen = (everything + additional DEBUG messages)   -   ROS_INFO , ROS_WARN, ROS_DEBUG, ROS_ERROR, ROS_FATAL        # output=log - INFO + DEBUG


# The log files can be found in ~/.ros/log/ - enter "ll -rt" to find the latest log
# There is also supposed to be the values: INFO, WARN, DEBUG, ERROR and FATAL but each have shown the complete output and same behavior on the log file and output screen
# log4j.logger.ros.roscpp.superdebug=DEBUG          # output=screen = (everything + even more detailed DEBUG messages)         # output=log - INFO + even more detailed DEBUG messages


